<style type="text/css">
{{ print "/* RESET */" | safeCSS }}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
{{ print "/* COMMON */" | safeCSS }}
body {background-color: #f5f5f5;}
#wrapper {position:relative;padding:0 15px;}
#header {width:100%;margin-top:15px;}
h1 {box-sizing:border-box;padding:15px 30px;font-size:20px;color:#fff;background-color:#333;}
#content {overflow:hidden;margin-top:15px;}
.section {position:relative;width:100%;box-sizing:border-box;margin-top:15px;padding-bottom:60px;border:1px solid #e6e6e6;background-color:#fff;}
.section:first-child {margin-top:0;}
.section .tit_section {margin-top:15px;padding:0 15px;font-weight:bold;font-size:16px;line-height:24px;color:#333;}
.box_table {position:relative;width:100%;box-sizing:border-box;margin-top:5px;padding:0 15px;}
.box_table .tbl_list {width:100%;margin:0;border-collapse:collapse;border-spacing:0;}
.box_table .tbl_list th,
.box_table .tbl_list td {height:22px;font-size:12px;line-height:16px;padding:5px;border:1px solid #ddd;text-align:center;vertical-align:middle;}
.box_table .tbl_list thead th {background-color:#f5f5f5;}
.btn_gotop {display:flex;justify-content:center;align-items:center;position:absolute;bottom:15px;right:15px;min-width:48px;height:30px;
border:1px solid #ccc;border-radius:4px;font-size:14px;line-height:20px;color:#333;background-color:#fff;text-decoration:none;cursor:pointer;}
.btn_gotop:hover {border-color:#333;background-color:#333;color:#fff;}
</style>